

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

#header {
    padding-bottom: 10px;
}
#header > a {
    margin: 0 auto;
    display: flex;
}
#header > a > img {}
#header > div {
    display: flex;
}

ul {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

ul > li {
    width: 25%;
    border: 1px solid #0e6a61;
    text-align: center;
    display: block;
}

ul > li:hover {
    background: #0e6a61;
    color: white;
}

ul > li > a {
    display: block;
}

#banner {
    width: 100vw;
    height: 500px;
    display: block;
}

#banner_img_wrap {
    width: 100vw;
    position: relative;
}

#banner > #banner_img_wrap > img {
    display:block;
    width: 100vw;
    position:absolute;
}


#banner > div > .starAVG {
    z-index: 5rem;
    position: absolute;
    bottom: 10px;
    left: 6vw;
    font-size: 40px;
    color: white;
}

/*#contents {
    margin: 0 auto;
}*/

#contents {
    width: 100vw;
    height: 100%;
    display: block;
}


.dom {
    width: 50vw;
    float: left;
}

#contents > article {
    width: 100vw;
    padding-top: 80px;
    text-align: center;
}

#contents > article > img,
#contents > article > div > img {
    width: 100vw;
    text-align: center;
}

.pic1 {
    width: 100vw;
    border-radius: 5px;
}

.pic1 > img {
    width: 50vw;
    float: left;
}

.clear {
    content: "";
    clear: both;
    display: block;
}

#contents > article > h1,
#contents > article > h3,
#contents > article > div > h1,
#contents > article > div > h3 {
    width: 90vw;
}

.reply {
    width: 70vw;
    height: 10vh;
}

.commentSection {
    padding-top: 30px;
    text-align: center;
}

.commentList {
    text-align: center;
}


.UserComment {
    width: 70vw;
    padding-bottom: 10px;
}

.starScore {
    color: blue;
}


footer {
    text-align: center;
    padding: 100px 0 50px 0;
}

.upbtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    font-size: 2rem;
    color: #0e6a61;
    opacity: 0;
    transition: opacity 250ms ease-in;
    pointer-events: none;
}

.upbtn.visible {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}